[submodule "libs/Vendor/Talus-TPL"]
	path = libs/Vendor/Talus-TPL
	url = git@github.com:Taluu/Talus-TPL.git
[submodule "libs/Vendor/Doctrine"]
	path = libs/Vendor/Doctrine
	url = git@github.com:doctrine/doctrine2.git
