#
# .htaccess
#
# Redirige toute url non existante vers l'index, et définit quoi faire en cas
# d'erreurs Apache
#
# For the full copyright and license information, please view the LICENSE file
# that was distributed with this source code.
#
# @package Talus' Works
# @author Baptiste "Talus" Clavié <clavie.b@gmail.com>
# @copyright Talus' Works 2010+
# @link http://www.talus-works.net Talus' Works
# @license something
#

Options +FollowSymLinks
IndexIgnore */*

# Activation du moteur de réécriture
RewriteEngine On

#  Règles - Ce qui n'existe pas est retransmis vers l'index (front controller)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [QSA,L]
